body{
  margin:0;
  padding:0;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  --font-color: rgb(146, 98, 57);
  color:var(--font-color)
  }
*{
margin:inherit;
}
.welcome-section{
background-image: url(./../images/beachshowcase.jpg);
background-size: cover;
background-position: bottom right;
height: 100vh;
text-align: center;
font-size: 16px;
}
section>p{
  padding-bottom: 10px;
}
.main-title{
  display:block;
  padding-top: 40vh;
  max-width: 100vw;
  font-size: 2em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-transform: capitalize;
}
.button{
  padding: 5px 20px;
  border: 1px solid var(--font-color);
  /* закругление каждого угла кнопки */
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-size: 0.8em;
  text-transform: capitalize;
  text-decoration-line: none;
  color: var(--font-color);
}
/* начинается статья с контентом */
.main-article{
  font-size: 14px;
}
.main-article>p{
  padding: 10px; 
}
.article-title{
  padding: 5px;
  text-align: center;

}
.reversed{
  background-color: var(--font-color);
  color:white;
}
article>p,.reversed{
  text-align: center;
}
.bottom{
  padding: 5px;
  display: inline-block;
  box-sizing: border-box;
  width: 33.33%;
  height: max-content;
  vertical-align: top;
  text-align: left;
}
