body{
  margin:0;
  padding:0;
}

.section-properties{
background-image: url(./../images/beachshowcase.jpg);

}

.main-title{

}
.button{

}
.main-article{
  
}
.content{

}
.content-narrow-block-left .content-narrow-block-right{
  
}
.content-narrow-block-center{
  
}